# Ignore virtual environments
.venv/
guardianx/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables file
.env

# Ignore swap files
*.swp